What is Python?

Python is a high-level, interpreted, and general-purpose programming language. It was created by Guido van Rossum and first released in 1991. Python emphasizes code readability, and its syntax allows programmers to express concepts in fewer lines of code than languages like C++ or Java.

1.	Python is a case-sensitive language.
    'Variable' and 'variable' are treated as two different identifiers.

2.	Python is an interpreted language.
    It runs code line by line using an interpreter, not a compiler.

3.	Python is a dynamically typed language.
    We don't need to declare the type of a variable explicitly.

4.	Python supports object-oriented programming.
    You can define classes, objects, inheritance, and more.

5.	Python uses indentation to define blocks of code.
    Curly braces {} are not used; proper indentation is crucial.

6.	Python is open-source and free to use.
    Anyone can download, use, and modify the source code.

7.	Python supports multiple programming paradigms.
    It supports procedural, object-oriented, and functional programming.

8.	Python has a large standard library.
    It includes modules for web, file handling, regular expressions, and more.

9.	Python uses garbage collection for memory management.
    Unused memory is automatically cleaned up.

10.	Python code is easy to read and write.
    It emphasizes readability with a clean and straightforward syntax

print() Function in Python

The print() function in Python is used to display output on the screen (usually the console). 
It sends the data you provide to the standard output stream.

Syntax-

print(object1, object2, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

In [1]:
print("Hello, world!")

Hello, world!

In [2]:
print('hello', 'world')

hello world

In [4]:
print("Data", "Science", "Rocks", sep="_")

Data_Science_Rocks

In [5]:
print('Data is new fuel', end=' & ')
print('It helps in decision making')

Data is new fuel & It helps in decision making

In [6]:
print('Data is new fuel')
print('It helps in decision making')

Data is new fuel
It helps in decision making

In [7]:
print("Loading", end="...")
print("Done!")

Loading...Done!

In [8]:
# format output inside print()
name = "Alice"
age = 25
print(f"My name is {name} and I am {age} years old.")

My name is Alice and I am 25 years old.

In [10]:
print('Hello')

Hello

In [11]:
print('Hello',16,41.5,False,sep='/')

Hello/16/41.5/False

Data Type

In Python, data types define the type of value a variable can hold. Python is dynamically typed, so the interpreter assigns the type automatically.

Data Type	    Description 
int	            Integer numbers (whole numbers)
float	        Decimal (floating-point) numbers
complex	        Complex numbers with real and imaginary parts
str	            Text (string of characters)
bool	        Boolean values: True or False
list	        Ordered, mutable collection of items
tuple	        Ordered, immutable collection of items
set	            Unordered, unique collection of items
dict	        Key-value pairs (dictionary or map)
NoneType	    Represents the absence of a value (None)

In [ ]:
# type function
# to check the type of a variable or object.

In [12]:
# int (Integer)
x = 10
print(type(x))

<class 'int'>

In [13]:
# float
pi = 3.14
print(type(pi))

<class 'float'>

In [14]:
# complex (Complex Number)
# Used for scientific or mathematical calculations with real and imaginary parts.

z = 2 + 3j
print(type(z))

<class 'complex'>

In [15]:
# str (String)
name = "Python"
print(type(name))

<class 'str'>

In [17]:
x = '5'
print(type(x))

<class 'str'>

In [20]:
# bool (Boolean)
# Logical values, either True or False.

is_valid = True
print(type(is_valid))

<class 'bool'>

In [21]:
# List
# Ordered, mutable collection. Can hold different types.
fruits = ["apple", "banana", "cherry"]
print(type(fruits))

<class 'list'>

In [23]:
# Tuple
# Ordered, immutable collection.

coordinates = (10, 20)
print(type(coordinates))

<class 'tuple'>

In [24]:
# Set
# Unordered collection of unique elements.
unique_numbers = {1, 2, 3}
print(type(unique_numbers))

<class 'set'>

In [25]:
# Dictionary
# Unordered collection of key-value pairs.
person = {"name": "Alice", "age": 25}
print(type(person))

<class 'dict'>

In [26]:
# NoneType
# Represents a null or no value
x = None
print(type(x))

<class 'NoneType'>

# Variable

A variable is a name that refers to a value stored in memory. It acts as a label to access and manipulate data in a program.

Python is dynamically typed, so we don’t need to declare the type of a variable — Python figures it out at runtime.

In [ ]:
x = 10             # int
name = "Python"    # str
price = 99.99      # float
is_valid = True    # bool

Rules for Naming Variables:

Must start with a letter or underscore _	
Cannot start with a digit	
Can contain letters, numbers, underscores	
Case-sensitive	
Cannot use Python keywords

In [1]:
# Dynamic Typing
a = 5
print(a)
print(type(a))

b = 'Alice'
print(b)
print(type(b))

5
<class 'int'>
Alice
<class 'str'>

In [2]:
# Variable Reassignment: (Dynamic Binding)
# Python allows us to change the value (and type) of a variable at any time.

x = 10
print(x)

x = "Now I'm a string"
print(x)

10
Now I'm a string

In [3]:
# Multiple Assignments:

a = b = c = 100         # All variables get the same value
x, y, z = 1, 2, 3       # Multiple variables with different values

print(a, b, c)
print(x, y, z)

100 100 100
1 2 3

Types of Variables

Global Variables
Local Variables

Best Practices for Using Variables

Use descriptive names: score, user_name, total_price.
Avoid single-letter names like x, y unless in loops or math.
Stick to snake_case for variable names (PEP 8 style guide).
Don’t use Python keywords or built-in function names as variable names.

In [ ]:
# camelCase
# userName, userProfile, customerService

# Comments

Comments are lines in the code that are ignored by the Python interpreter. They are written for humans — to explain what the code is doing.

They don’t affect the program’s execution but are super helpful for
Explaining code logic.
Leaving notes or TODOs.
Temporarily disabling code.
Making our code more readable and maintainable.

In [6]:
# ctrl + forward slash(/)
# This is a comment
# Second line
a = 4 # comment in same line
b = 6 
c = a + b
# this will add two numbers
print(c)

10

In [ ]:
a = b = c = 10

Keywords

Keywords are reserved words in Python that have special meanings and cannot be used as variable names, function names, or identifiers.

They are the building blocks of Python syntax.

In [7]:
# To See All Python Keywords

import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

List of Common Python Keywords

Keyword	    Meaning / Use

False	    Boolean false value
True	    Boolean true value
None	    Represents no value / null
and	        Logical AND
or	        Logical OR
not	        Logical NOT
if	        Conditional statement
elif	    Else if
else	    Alternative condition
while	    While loop
for	        For loop
break	    Exit from loop
continue	Skip to next loop iteration
pass	    Do nothing (empty block)
def	        Define a function
return	    Return value from a function
yield	    Return value from a generator
import	    Import a module
from	    Import specific part of module
as	        Rename imported module/alias
class	    Define a class
try	        Start a try block for error handling
except	    Handle an exception
finally	    Code that always runs after try-except
raise	    Raise an exception
in	        Check membership
is	        Check identity
lambda	    Create anonymous function
global	    Declare a global variable inside function
nonlocal	Declare non-local (enclosing scope) variable
del	        Delete a variable or object
assert	    Debugging tool — test a condition
with	    Context manager (e.g. file handling)
async	    Define asynchronous function
await	    Pause execution inside async function

In [10]:
if = 10  #SyntaxError

SyntaxError: invalid syntax (1315404914.py, line 1)

In [12]:
if_condition = 10  # Valid
print(if_condition)

10

Identifiers-

An identifier is the name used to identify a variable, function, class, module, or object.
It acts like a label you assign to something so you can refer to it later in your code.

In [ ]:
name = "Alice"         # 'name' is an identifier
def greet():           # 'greet' is a function identifier
class Student:         # 'Student' is a class identifier
    pass

# User Input

User input allows our Python program to accept data from the user during program execution.
We use the built-in input() function for this.

In [1]:
variable = input("Prompt message")

In [2]:
name = input("Enter your name: ")
print("Hello,", name)

Hello, Alice

In [6]:
# Add two numbers given by the user
first_num = input()
second_num = input('enter second number')
total = int(first_num) + int(second_num)
print(total)

100

In [10]:
age = int(input("Enter your age: "))
print("You will be", age + 1, "next year.")

You will be 11 next year.

In [12]:
num = int(input("Enter a number: "))

ValueError: invalid literal for int() with base 10: 'fg'

# Type Conversion

Type Conversion means changing the data type of a value from one type to another.

There are two main types:

Implicit Type Conversion – Python does it automatically
Explicit Type Conversion – We do it manually

In [14]:
a = '10'
b = '20'

c = float(a) + float(b)
print(c)

30.0

In [15]:
# Implicit Type Conversion (Automatic)

a = 10       # int
b = 5.5      # float
result = a + b

print(result)        # 15.5 (float)
print(type(result))  # <class 'float'>

15.5
<class 'float'>

Explicit Type Conversion (Manual)

We use built-in functions to convert between types:

Function	Converts to
int()	    Integer
float()	    Float
str()	    String
bool()	    Boolean
list()	    List
tuple()	    Tuple
set()	    Set

In [19]:
a  = int('10')
b = int('abc')
 
print(type(b))

ValueError: invalid literal for int() with base 10: 'abc'

In [20]:
# String to integer

num_str = "50"
num = int(num_str)
print(num + 10)  # 60

60

In [22]:
# float to int

price = 99.99
new_price = int(price)
print(new_price)  # 99 (decimal part is dropped)
print(type(new_price))

99
<class 'int'>

In [23]:
# List to Set

data = [1, 2, 2, 3]
unique_data = set(data)
print(unique_data)  # {1, 2, 3}

{1, 2, 3}

In [24]:
# Bool to Int

flag = True
print(int(flag))  # 1

1

In [25]:
# Converting non-numeric strings to int() or float() will cause an error:

int("hello")  #ValueError

ValueError: invalid literal for int() with base 10: 'hello'

# Literals

A literal is a fixed value assigned to a variable or used directly in the code.

Literals are raw values like numbers, strings, or boolean values written directly into code.

In [ ]:
x = 10         # 10 is an integer literal
name = "Alice" # "Alice" is a string literal

Types of Literals in Python:

Numeric Literals
String Literals
Boolean Literals
None Literal
Collection Literals (List, Tuple, Dict, Set)

In [26]:
# Numeric Literals

a = 100           # Decimal
b = 0b1010        # Binary
c = 0o25          # Octal
d = 0x1A          # Hexadecimal

print(a)
print(b)
print(c)
print(d)

100
10
21
26

In [ ]:
# String Literals

name = 'John'
greeting = "Hello!"
multi_line = """This is
a multi-line
string."""

In [32]:
print(u"\U0001f600\U0001F606\U0001F923")
print(r"raw \t string")

😀😆🤣
raw \t string

In [33]:
# Boolean Literals

is_active = True
is_deleted = False
print(True + False)  # 1 (True = 1, False = 0)

1

In [34]:
# Special Literal – None

result = None

if result is None:
    print("No result yet.")

No result yet.

None literal Commonly used to:

Initialize variables
Represent missing data
Indicate no return value

In [36]:
k = None
print('k = None')
k = 5
print('k =',k)

k = None
k = 5

In [39]:
# Literal Collections

fruits = ["apple", "banana", "mango"] # List Literal
coordinates = (10, 20)                # Tuple Literal
unique_numbers = {1, 2, 3}            # Set Literal
person = {"name": "Alice", "age": 30} # Dictionary Literal

print(fruits)
print(coordinates)
print(unique_numbers)
print(person)

['apple', 'banana', 'mango']
(10, 20)
{1, 2, 3}
{'name': 'Alice', 'age': 30}